html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-size: calc(16px + 0.0399vw);
  font-family: 'Montserrat', sans-serif;
}
